# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
.env/
.venv/

# IDE / Editor
.vscode/
.idea/

# Logs
*.log

# Byte-compiled / cache
*.egg-info/
.eggs/
dist/
build/

# OS files
.DS_Store
Thumbs.db
